<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>surgeryView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>surgeryViewIGTLink.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>surgeryViewOPENIGTLINK.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>surgeryViewOpenIGTLink.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>surgeryViewTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B3F57052B957BB700753CBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B7F9EBC2BE70ED300D0CE52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BA9655A2BE70CA60019B819</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BB4D79D2BE70D8E00036A08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
